<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="b278bb3a-4dd4-4d2c-acbe-5b49f63fafca"
    Publisher="CN=AndrewHoefling"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d359fd2d-a02e-4e57-ae03-c2b8e1798bca" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Sample.MvvmAndDependencyInjection</DisplayName>
    <PublisherDisplayName>Sample.MvvmAndDependencyInjection</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="Sample.MvvmAndDependencyInjection.exe"
      EntryPoint="Sample.MvvmAndDependencyInjection.App">
      <uap:VisualElements
        DisplayName="Sample.MvvmAndDependencyInjection"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Sample.MvvmAndDependencyInjection"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
